.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #00000060;
  border-radius: 7px;
  width: 250px;
  height: 325px;
  margin: 0 auto;

  img {
    width: 125px;
  }

  .name {
    padding-top: 3px;
    color: #2C2C2C;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }

  .price {
    color: #121439;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0 20px 0;
  }
}
