<div class="container">
    <div class="login">
        <div class="email">
            <label for="email">E-mail</label>
            <input class="input" id="email" name="email" type="email" placeholder="Please enter your email">
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input class="input" id="password" name="password" type="password" placeholder="Please enter your password">
        </div>
        <div class="btn-submit">
            <button class="btn">Login</button>
        </div>
    </div>
</div>
