@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


.container {
  padding: 15px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-foto {
    h1 {
      font-size: 25px;
      font-family: 'Prata', serif;
      padding: 10px;
    }
  }

  .container-search {
    position: relative;

    input {
      background-color: #DDDDDD;
      outline: none;
      border-radius: 0.43rem;
      padding: 8px 11px;
      border: none;
      height: 2rem;
      width: 15rem;
    }

    button {
      border: none;
      cursor: pointer;

      img {
        position: absolute;
        right: 11px;
        top: 25%;
      }
    }

  }

  .container-icons {
    display: flex;

    gap: 1.1rem;

    .btn-bag {
      border: none;
      cursor: pointer;
      background-color: #fff;
      position: relative;

      .dot-bag {
        position: absolute;
        right: 0;
        background-color: red;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
      }
    }


  }

  .btn-menu {
    border: none;
    cursor: pointer;
    background-color: #fff;
    display: none;
  }

  .menu-hamburguer-icons {
    display: flex;
    flex-direction: column;
    width: 100%;

  .menu-hamburguer-profile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    animation: aparecerProfile 1s forwards;
  }

  .border {
    margin: 10px 0 5px;
    border-bottom: 1px solid #CFCFCF;

  }

  .menu-hamburguer-bag {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    animation: aparecerBag 2s ease;
  }
}

.menu-btn-bag {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  background-color: #fff;
  position: relative;

  .menu-dot-bag {
    position: absolute;
    right: 30px;
    top: 5px;
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
  }
}

}

@media (max-width: 600px) {
  .container {
    padding: 15px 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container-icons {

    .btn-bag {
      display: none;
    }

  .btn-icons {
    display: none;
  }
}

.container-menu-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;


.btn-menu {
  display: block;
}

.menu-hamburguer-icons {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* Adicione uma regra para ocultar o menu quando a tela não estiver na faixa responsiva */
  display: none; /* ou outra forma de ocultá-lo */
}

}

}

@keyframes aparecerProfile {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aparecerBag {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
