<div class="container">
  <div class="container-foto">
    <a routerLink="/home"><h1>Eleganzia</h1></a>
  </div>

  <div class="container-menu-phone">
    <div class="container-search">
      <button><img src="assets/images/search.svg" alt=""></button>
      <input type="text" placeholder="What you looking for">
    </div>
    <div class="menu">
      <button class="btn-menu">
        <img src="assets/images/menu.svg" alt="">
      </button>
    </div>
  </div>


  <div class="container-icons">
    <button class="btn-bag">
      <div class="dot-bag">1</div>
      <img src="assets/images/bag.svg" alt="">
    </button>
    <a class="btn-icons"><img src="assets/images/Icon.svg" alt=""></a>
  </div>

</div>
