:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4.3rem;
  margin: 1rem  0 2.5rem 0;

.filter {
  padding: 8px 20px;
  background-color: #F0F0F0;
  border-radius: 1px;
  border: none;
  box-shadow: 0 4px 4px #0000003f;
}
}

@media (max-width: 456px) {
  :host {
    padding-right: 1.5rem;
  }
}
