:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  margin: 1rem  0 2.5rem 0;

  .container {
    display: flex;
    flex-direction: column;
    position: relative;

    .container-btn {
      position: absolute;
      top: 33px;
      width: 100%;
      display: flex;
      flex-direction: column;
      
      button {
        padding: 8px 20px;
        border-radius: 1px;
        border: none;
        box-shadow: 0 4px 4px #0000003f;
        border: none;
        background-color: #f1f1f1;
        border-bottom: 1px solid #e2e2e2;
        border-radius: 2px;
        transition: .5s ease;
      }

      button:hover {
        background-color: #dfdfdf;
      }
    }
  }

  .aside-btn {
    display: none;
    button {
      border: none;
      background-color: #fff;
    }

  }
  
.filter {
  padding: 8px 20px;
  background-color: #F0F0F0;
  border-radius: 1px;
  border: none;
  box-shadow: 0 4px 4px #0000003f;
}
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 20px;
  padding: 0;
  position: absolute;
  top: 15rem;
  background-color: #fff;
  border-radius: 5px;

.close {
  position: relative;

  .close-btn {
    border: none;
    background-color: #fff;
    position: absolute;
    bottom: -13px;
  }
}

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  
    border-bottom: 1px #DDDDDD solid;
  
    .chebox {
      display: flex;
      flex-direction: column;
      gap: 9px;
      margin-bottom: 15px;
    }
  }
  
  .pulso {
    border: none;
  }
}

@media (max-width: 768px) {
  :host {
    display: flex;
    justify-content: space-between;

    .aside-btn {
      display: block;
    }
}
}
