.container{
display: flex;
justify-content: space-around;
flex-direction: row;

  .filter {
    display: flex;
    justify-content: flex-end;
  }

  .container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
}
.noItens {
  position: fixed;
  bottom: 70px;
  right: 30px;
}

