<app-banner></app-banner>

<div class="noItens">
  <app-no-itens></app-no-itens>
</div>

<div class="filter">
  <app-btn-filter></app-btn-filter>
</div>


<div class="container">
  <app-a-side></app-a-side>
  <div class="container-card">
    <app-card [img]="'assets/images/Patek Philippe 5374300P-001.svg'" [name]="'Patek Philippe 5374/300P-001'"></app-card>
    <app-card [img]="'assets/images/Patek Philippe Nautilus 57111A-018.svg'" [name]="'Patek Philippe Nautilus 57111A-018'"></app-card>
    <app-card [img]="'assets/images/Patek Philippe 6002R-001.svg'" [name]="'Patek Philippe 6002R-001'"></app-card>
    <app-card [img]="'assets/images/Patek Philippe Nautilus 59901400G-001.svg'" [name]="'Patek Philippe Nautilus 59901400G-001'"></app-card>
    <app-card [img]="'assets/images/rolex 1.svg'" [name]="'Rolex Oyster Perpetual M126000-0006 36Mm Unisex Watch'"></app-card>
    <app-card [img]="'assets/images/rolex 2.svg'" [name]="'Rolex Oyster Perpetual M276200-0002 28Mm Ladies Watch'"></app-card>
    <app-card [img]="'assets/images/rolex 3.svg'" [name]="'Rolex Lady Datejust M279138Rbr-0015 28Mm Oyster Yellow Gold And Diamonds Ladies Watch'"></app-card>
    <app-card [img]="'assets/images/rolex 4.svg'" [name]="'Rolex Oyster Perpetual M276200-0003 28Mm Oystersteel Ladies Watch'"></app-card>
  </div>
</div>


