<div class="container">
  <div class="container-btn-number">
    <button class="btn btn-minus" (click)="minus()">
      <img src="assets/images/minus.svg" alt="">
    </button>
    <div class="number">
      <span>{{ quantidade }}</span>
    </div>
    <button class="btn btn-plus" (click)="plus()">
      <img src="assets/images/plus.svg" alt="">
    </button>
  </div>
  <div class="container-btn-add">
    <button (click)="adicionarAoCarrinho()" class="btn btn-add">
      <span>Add to Cart</span>
    </button>
  </div>
</div>
